.add-new-dish {
  width: 200px;
  height: 200px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-new-dish:hover {
  background-color: rgba(0, 0, 0, 0.1);
}