article.header {
  display: flex;
  justify-content: space-around;
  padding: 3%; 
  align-items: center;
}
article.header img {
  flex-grow: 1;
  max-width: 30%;
  padding: 5%;
}
article.header h1 {
  font-size: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  transition: font-size 1s;
}
@media only screen and (max-width: 1500px) {
  article.header h1 { 
    font-size: 48px; 
  }
}
@media only screen and (max-width: 1100px) {
  article.header h1 { 
    font-size: 36px; 
  }
}
@media only screen and (max-width: 700px) {
  article.header h1 { 
    font-size: 24px; 
  }
}
@media only screen and (min-width: 1500px) {
  article.header { 
    padding-right: 10%; 
    padding-left: 10%; 
  }
}
@media only screen and (min-width: 1700px) {
  article.header { 
    padding-right: 15%; 
    padding-left: 15%; 
  }
}