
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  animation: colorchange 10s infinite;
}

.global-nav {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding 1s;
}

.global-nav .logo {
  height: 30px;
}

.second-nav {
  display: flex;
  padding-bottom: 8px;
  padding-top: 8px;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  transition: padding 1s;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 10%;
  background: rgba(255, 255, 255, 0.6);
}


@keyframes colorchange
{
  0%  {background: #ccdbe2;}
  50%  {background: #bed4d0;}
  100%  {background: #ccdbe2;}
}

.global-nav,
.second-nav { 
  padding-right: 1%; 
  padding-left: 1%; 
}

@media only screen and (min-width: 1500px) {
  .global-nav,
  .second-nav { 
    padding-right: 15%; 
    padding-left: 15%; 
  }
}
@media only screen and (min-width: 1700px) {
  .global-nav,
  .second-nav { 
    padding-right: 20%; 
    padding-left: 20%; 
  }
}