body[dir="rtl"] .mr-auto {
    margin-left: auto!important;
    margin-right: unset!important;
}

body[dir="rtl"] .card {
    text-align: right;
}

body[dir="rtl"] .availability-toggle {
    display: inline-flex;
}

body[dir="rtl"] .availability-toggle button:first-child {
    order: 1;
}

body[dir="rtl"] .modal-header .close{
    margin: -15px -15px -15px -15px !important;
}

body[dir="rtl"] .modal-body {
    text-align: right;
}